/*La plus grosse "boite"*/
	.container {
		display: flex;
		justify-content: center;
		flex-direction: column;

		font-family:"Verdana", sans-serif; 
		color:#E5E8E8;

	}

	/*Le Body*/
		body {
			margin: 0;
		}

	/*paramettre fond écran bloc du haut / bloc principal*/
		.bloc-du-haut {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			
			background-image: url(fondorange.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 100vh;

		}

		/*parametre du header*/
			header{
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					position: fixed;
			  		left: 0; right: 0; top: 0;
			  		height: 25vh;

				}

			/*parametre barre du haut*/
				.nompage-et-bouton {
					width: 100%;
					display: flex;
					flex-direction: row;

				}

			/* parametre du nom de la page*/
				.nom-page {
					width: 50%;
					padding-left: 50px;
				}

			/* parametre des boutons*/
				.button {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;

					width: 50%;
					padding-right: 25px;
					padding-left: 25px;
				}

				/* parametre rainbow button */

					a {
					  text-decoration:none;
					  color:#FFF;
					}
					.rainbow-button {
					  width:calc(8vw + 7px);
					  height:calc(2.5vw + 7px);
					  background-image: linear-gradient(90deg, #FFFFFF 0%, #85C1E9 49%, #85C1E9 80%, #2E86C1 100%);
					  border-radius:5px;
					  display:flex;
					  align-items:center;
					  justify-content:center;
					  text-transform:uppercase;
					  font-size:1.25vw;
					  font-weight:bold;
					}
					.rainbow-button:after {
					  content:attr(title);
					  width:8vw;
					  height:2.5vw;
					  border-radius: 5px;
					  background-color:#191919;
					  display:flex;
					  align-items:center;
					  justify-content:center;
					}
					.rainbow-button:hover {
					  animation:slidebg 4s linear infinite;
					}

					@keyframes slidebg {
					  to {
					    background-position:20vw;
					  }
					}

			/*parametre du nom prenom photo et metier*/
				.nom-photo-metier {
					width: 100%;

					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					align-content: space-between;
					padding-bottom: 25px;
				}

			/*parametre nom prenom*/
				.nom-prenom {
					width: 20%;
					text-align: center;
				}

			/*parametre metier*/
				.metier {
					width: 20%;
					text-align: center;
				}

			/*paramattre de la photo*/
				.photo img {
					width: 30vh;
					height:auto;
					border-radius: 150px;
				}

	/*paramettre bloc bas*/
		.bloc-du-bas {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			height: 75vh;
		}

		/*parametre de la phrase d'accroche et du resume*/
		.resume-accroche {
			text-align : center;

		}
			/*parametre resume*/
			.resume {

				padding-top: 50px;

			}

		/*parametre double bloc page parcours et contact*/
		.bloc-gauche-et-droit {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			width: 100%;
			height: 60vh;

		}

		/*parametre bas page parcours*/

			/*parametre bloc gauche*/
			.bloc-gauche {
				
				padding-left: 5vw;
				text-align: left;

				width: 33vw;

			}

			/*parametre bloc droit*/
			.bloc-droit {

				padding-right: 5vw;
				padding-left: 2vw;
				text-align: left;

				width: 31vw;

			}